/* Smartphones (portrait) ----------- */

@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab|Germania+One|Rakkas|Rambla');

:root {
  --main-bg-color: #307b26;
  --main-color: #d2fa92;
}

body {
    margin: 0vw;
    padding: 0vw;
    background-color: aliceblue;
}

nav {
    position: fixed;
    background-color: navy;
    position: fixed;
    width: 100%;
    overflow: auto;
}

.dragon-logo {
    height: 50px;
    fill: white;
    margin: 0px 10px;
}

@media only screen and (max-width: 600px) {
    /* Triple Bar Code */
    .triple_bar {
      display: inline-block;
      float: right; 
      margin: 5px;
      cursor: pointer;
    }
    
    .triple_bar_1, .triple_bar_2, .triple_bar_3 {
      width: 35px;
      height: 5px;
      background-color: #a6d5e5;
      margin: 6px 0;
      transition: .5s;
    }

    /* Changes on Triple Bar  */
    .change .triple_bar_1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }
    
    .change .triple_bar_2 {opacity: 0;}
    
    .change .triple_bar_3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }
    
    #full-menu {
        background-color: aliceblue;
        width: 100%;
        text-align: center;
        height: 0;
        opacity: 0;
        transition: opacity .5s ease-in;
    }

    #full-menu a {
        display: block;
        margin:auto;
    }
    
    /* Triple Bar Code */

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) {
    .mobile_only {
        display: none;         
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .mobile_only {
        display: none; 
    }
} 