/* Smartphones (portrait) ----------- */

@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab|Germania+One|Rakkas|Rambla');

:root {
  --major-color: #000079;
  --complement-color: #fda500;
  --background-color: #ffffff;
  --menu-color: #edf6ff;
  --menu-color-hover: #d3e9fc;
}

* {
  box-sizing: border-box;
}


body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: var(--background-color);
}

nav {
    position: fixed;
    z-index: 100;
    top: 0px;
}

.main-nav {
    position: fixed;
    background-color: var(--major-color);
    width: 100%;
    overflow: auto;
    padding: 0px 0px px;
}

a:link {
    color: black;
    text-decoration: none;
    background-color: inherit;
}

a:visited {
    color: black;
    text-decoration: none;   
    background-color: inherit;
}

/* menus */

.sub-nav {
    width: 100%;
    background-color: var(--menu-color);
    transition: opacity .5s ease-in;
}

#mobile-menu {
    background-color: var(--menu-color);
    width: 100%;
    height: 0px;
    opacity: 0;
    transition: opacity .5s ease-in;
    padding: 0px;
}

#mobile-menu a {
    color: var(--major-color)
    display: block;
    margin: 0px 0px 0px 90px;
}

#desktop-menu {
    background-color: var(--menu-color);
    text-decoration: none;
}

#desktop-menu {
    display: inline-block;
    margin:auto;
    color: var(--major-color)
    float: left;
    margin: 2px 0px 0px 10px; 
    padding: 0px 5px;
    border-right: 1px dashed lightgrey;
}

/* logos */

.dragon-logo {
    height: 60px;
    padding: 5px 0px 0px 0px;
    margin: 0px 0px 0px 10px;
}

.logo-text {
    color: var(--complement-color);
    display: inline-block;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

main {
    transition: top .4s ease 0s;
    z-index: 90;
}

footer {
    border-top: 1px solid grey;
    background-color: var(--major-color);
    height: 40px;
}

/* content */

@media only screen and (max-width: 600px) {
    /* Triple Bar Code */
    .triple_bar {
      display: inline-block;
      float: right; 
      padding: 1px 5px 0px 0px;
      margin: 5px;
      cursor: pointer;
    }
    
    .triple_bar_1, .triple_bar_2, .triple_bar_3 {
      width: 35px;
      height: 5px;
      background-color: var(--complement-color);
      margin: 6px 0;
      transition: .5s;
    }

    /* Changes on Triple Bar  */
    .change .triple_bar_1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }
    
    .change .triple_bar_2 {opacity: 0;}
    
    .change .triple_bar_3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }
    
    /* menu */
    
    .sub-nav {
        height: 0px;
        opacity: 0;
    }
     
    #mobile-menu {
        display: block;
        border-bottom: 1px solid lightgrey;
    }
    
    #mobile-menu a {
        display: block;
        padding: 5px;
    }
    
    .main-nav {
        overflow:hidden;
    }
    
    main {
        margin: 100px 45px 0px 95px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) {
    .sub-nav {
        height: auto;
        opacity: 1;
        border-bottom: 1px solid lightgrey;
    }
    
    .mobile_only {
        display: none;         
    }
    
    #mobile-menu {
        display: none;
    }
    
    #desktop-menu {
        display: inline-block;
        padding: 3px 3px 3px 84px;
    }
    
    main {
        margin: 120px 45px 0px 95px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 