/* Google Fonts */

@import url('https://fonts.googleapis.com/css?family=Germania+One|Merriweather+Sans|Pacifico|Quicksand|Lato');

/* Root Information */

:root {
  --major-color: #000079;
  --complement-color: #fda500;
  --background-color: #ffffff;
  --menu-color: #edf6ff;
  --menu-color-hover: #d3e9fc;
    
    * {
        box-sizing: border-box;
    }
}

/* Font Styles */

.italics {
    font-style: italic;
}

/* Body Information */

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: var(--background-color);
}

/* Defaults */

p {
    font-family: "Quicksand"; 
    font-size: 13px;
}

a:link {
    color: black;
    text-decoration: none;
    background-color: inherit;
}

a:visited {
    color: black;
    text-decoration: none;   
    background-color: inherit;
}

/* Navigation Components */

nav {
    position: fixed;
    z-index: 100;
    top: 0px;
}

#main-nav {
    position: fixed;
    background-color: var(--major-color);
    width: 100%;
    overflow: auto;
    padding: 0px;
}

#dragon-logo {
    height: 60px;
    padding: 5px 0px 0px 0px;
    margin: 0px 0px 0px 10px;
}

#logo-caption {
    color: var(--complement-color);
    display: inline-block;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

#site-name {
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Merriweather Sans';
    padding: 0px;
    margin: 0px;
    color: #fda500;
}

#slogan {
    font-size: 10px;
    font-style:italic;
    font-family: 'Pacifico';;
}

#menu-bar {
    background-color: var(--menu-color);
    text-decoration: none;
    border-bottom: 1px solid lightgrey;
    padding: 3px 0px 3px 95px;
}

#error-bar {
    font-family: "Quicksand"; 
    font-weight: bolder;
    background-color: var(--menu-color);
    border-bottom: 1px solid lightgrey;
    text-align: center;
    color: red;
    padding: 1px;
    font-weight: bolder;
}

.menu-item {
    font-family: "Quicksand";  
    font-weight: lighter;
    font-size: 12px;
    display: inline-block;
    margin:auto;
    margin: 2px 0px 0px 0px; 
    padding: 3px 3px 3px 3px;
    border-right: 1px dashed lightgrey;
}

/* aside content */

aside {
    font-family: "Quicksand"; 
    font-size: 12px;
    position: fixed;
    margin: 28px 0px 0px 8px;
    padding: 0px;
    background: var(--menu-color);
    height: calc(100% - 240px);
    border: 0 solid lightgrey;
    border-width: 0px .5px .5px .5px;
}

aside ul {
    margin: 0px;
    padding: 0px;
    width: 125px;
    border: 0 solid lightgrey;
    border-width: 0px 0px .5px 0px;
}

aside li {
    margin: 0px;
    padding: 5px 10px;
    list-style-type: none;
    display: block;
    border: 0 solid lightgrey;
    border-width: .5px 0px 0px 0px;
}

aside ul:first-child {
    border: 0 solid lightgrey;
    border-width: 0px 0px 0px 0px;    
}

.slide {
    margin: 4px 0px;
    width: 60px;
    text-align: center;
}

.slide-label {
    margin: 17px;
    text-align:left;
}

/* main content */

main {
    padding-bottom: 20px;
    transition: top .4s ease 0s;
    z-index: 90;
    overflow: auto;
    min-height: calc(100vh - 170px);
}

#folio {
    width: 100%;
}

#discover-tool {
    padding: 27px 0px 0px 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.discover-game-product {
    flex: 0 0 200px;
    padding: 0px 20px 20px 0px;
}

.discover-game-title {
    display: inline-block;
    height: 30px;
}

.discover-game-summary {
    margin: 0px 0px 10px 20px;
}

.discover-game-image {
    height: 200px;
    object-fit: cover;
    margin: -3px 0px 0px 0px;
}

.discover-game-stats {
    margin: 0px 0px 10px 20px;
    border-collapse: collapse;
    border: 1px solid silver;
}

.discover-game-stats td, th {
  text-align: center;
  vertical-align: center;
  padding: 2px 0px;
  width: 100px;
}

.discover-game-stats th {
    background-color: var(--major-color);
    color: var(--complement-color);
    font-weight: lighter;
}

.discover-game-stats td {
    border-left: 1px solid silver;
}

.default-product {
    height: 450px;
}

main p,
main h1 {
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

main p {
    text-align: left;
    padding: 0px 0px 0px 5px;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    margin: 0px 0px 0px 5px;
    padding: 0px 0px 0px 0px; 
    font-family: 'Germania One';
    color: darkred;
}

#product-title {
  grid-area: title;
}

#product-gallery {
  grid-area: image;
  max-height: 100%;
  max-width: 100%;
}

#product-metric {
    grid-area: metric;
}

#product-summary {
    grid-area: summary;
}

#product-review {
    grid-area: review;
}

#product-rule {
    grid-area: rule;
}

#product-gallery-main {
      max-height: 100%;
}

#product-content {
  grid-area: content;
}

/* Footer Content */

footer {
    border-top: 1px solid grey;
    background-color: var(--major-color);
    height: 40px;
    z-index: 1;
}

/* END of default styles */

@media only screen and (max-width: 600px) {
    
    image_404 {
        display: inline-block;
        width: 40%;
    }
    
    .desktop_only {
        display: none;         
    }
    
    #menu-bar {
        display: none;
        width: 100%;
        padding: 0px 0px 0px 0px;
    }

    .menu-item {
        display: block;
        padding: 5px;
        color: var(--major-color);
        text-align: center;
        font-size: 15px;
        padding: 5px 0px 5px 0px;
        border-bottom: 1px dashed lightgrey;
    }
    
    /* Triple Bar Code */
    #triple_bar {
      display: inline-block;
      float: right; 
      padding: 1px 5px 0px 0px;
      margin: 5px;
      cursor: pointer;
    }
    
    #triple_bar_1, 
    #triple_bar_2, 
    #triple_bar_3 {
      width: 35px;
      height: 5px;
      background-color: var(--complement-color);
      margin: 6px 0;
    }
    
    /* menu */
    
    .main-nav {
        overflow:hidden;
    }
    
    main {
        margin: 100px 40px 0px 95px;
        min-height: calc(100vh - 160px);
    }
    
    .discover-game-image {
        object-fit: cover;
        height: 200px;
    }
    
    .discover-game-product {
        flex: 0 0 200px;
    }
    
    .container {
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
      grid-template-rows: 30px 260px 100px auto auto auto auto;
      grid-template-areas: 
        "title title title title title"
        "image image image image image"
        "metric metric metric metric metric"
        "summary summary summary summary summary"
        "review review review review review"
        "rule rule rule rule rule"
        "content content content content content";
      height: 550px;
    }
    
    .container h1 {
        font-size: 30px;
    }
    
    .container h2 {
        font-size: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) {
    
    .mobile_only {
        display: none;         
    }
    
    main {
        margin: 110px 35px 0px 95px;
    }
    
    .error-item {
        font-size: 12px;
        margin: 4px;
        font-weight:bolder;
    }
    
    .container {
      display: grid;
      grid-template-columns: 20% 20% auto auto auto auto;
      grid-template-rows: 35px 240px 250px;
      grid-template-areas: 
        "title title summary summary summary summary"
        "image image summary summary summary summary"
        "metric metric review review rule rule";
      height: 550px;
      margin: 20px 0px 0px 0px;
    }
    
    #product-gallery-main {
          max-height: 100%;
          max-width: 100%;
          object-fit: cover;
    }
    
    .container h1 {
        font-size: 30px;
    }
    
    .container h2 {
        font-size: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    .mobile_only {
        display: none;         
    } 
    
    .container {
      display: grid;
      grid-template-columns: 20% 15% 20% 20% 20%;
      grid-template-rows: 30px 1fr 1fr 1fr;
      grid-template-areas: 
        "title title summary summary summary summary"
        "image image summary summary summary summary"
        "image image review review rule rule"
        "metric metric review review rule rule";
      height: 550px;
      margin: 20px 0px 0px 0px;
    }
    
    #product-gallery-main {
          max-height: 100%;
          max-width: 100%;
          object-fit: cover;
    }
    
    .container h1 {
        font-size: 30px;
    }
    
    .container h2 {
        font-size: 20px;
    }
} 